body {
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.row {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-1 {
  width: 50px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-1 {
  padding-left: 80px;
}
.col-suffix-1 {
  padding-right: 80px;
}
.col-2 {
  width: 130px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-2 {
  padding-left: 160px;
}
.col-suffix-2 {
  padding-right: 160px;
}
.col-3 {
  width: 210px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-3 {
  padding-left: 240px;
}
.col-suffix-3 {
  padding-right: 240px;
}
.col-4 {
  width: 290px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-4 {
  padding-left: 320px;
}
.col-suffix-4 {
  padding-right: 320px;
}
.col-5 {
  width: 370px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-5 {
  padding-left: 400px;
}
.col-suffix-5 {
  padding-right: 400px;
}
.col-6 {
  width: 450px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-6 {
  padding-left: 480px;
}
.col-suffix-6 {
  padding-right: 480px;
}
.col-7 {
  width: 530px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-7 {
  padding-left: 560px;
}
.col-suffix-7 {
  padding-right: 560px;
}
.col-8 {
  width: 610px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-8 {
  padding-left: 640px;
}
.col-suffix-8 {
  padding-right: 640px;
}
.col-9 {
  width: 690px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-9 {
  padding-left: 720px;
}
.col-suffix-9 {
  padding-right: 720px;
}
.col-10 {
  width: 770px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-10 {
  padding-left: 800px;
}
.col-suffix-10 {
  padding-right: 800px;
}
.col-11 {
  width: 850px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-11 {
  padding-left: 880px;
}
.col-suffix-11 {
  padding-right: 880px;
}
.col-12 {
  width: 930px;
  display: inline;
  float: left;
  margin: 0 15px;
}
.col-prefix-12 {
  padding-left: 960px;
}
.col-suffix-12 {
  padding-right: 960px;
}
.menu {
  background-color: #0069b3;
  color: #fff;
  margin: 0;
  padding: 0 auto;
  zoom: 1;
}
.menu:before,
.menu:after {
  content: "";
  display: table;
}
.menu:after {
  clear: both;
}
.menu__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  position: relative;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  padding: 18px 0;
  margin-right: 80px;
}
.menu__item:last-of-type {
  margin: 0;
}
.menu__item__cloud {
  display: inline-block;
  width: 24px;
  height: 15px;
  background: url("/img/icon-cloud.png") center no-repeat;
  margin-right: 12px;
}
.header {
  background-color: #fff;
  width: 960px;
  margin: 0 auto;
  padding: 10px 0 20px 0;
  zoom: 1;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header__logo {
  width: 160px;
  height: 52px;
  background: url("/img/logo.png") no-repeat left top;
}
.header__search {
  width: 100%;
  background: url("/img/icon-search.png") no-repeat right;
  border: none;
  border-bottom: 1px solid #0069b3;
  color: #0069b3;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 13px;
  font-weight: lighter;
  padding: 12px 0;
  margin: 10px 0 0 0;
}
