@font-face {
  font-family: 'icons-mipt-video';
  src: url("/font/icons-mipt/icons-mipt-video.eot?1424345");
  src: url("/font/icons-mipt/icons-mipt-video.eot?1424345#iefix") format('embedded-opentype'), url("/font/icons-mipt/icons-mipt-video.woff?1424345") format('woff'), url("/font/icons-mipt/icons-mipt-video.ttf?1424345") format('truetype'), url("/font/icons-mipt/icons-mipt-video.svg?1424345#icons-mipt-video") format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'icons-mipt-video';
    src: url("/font/icons-mipt/icons-mipt-video.svg?1424345#icons-mipt-video") format('svg');
  }
}
.row {
  width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-1 {
  width: 50px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 80px;
}
.col-suffix-1 {
  padding-right: 80px;
}
.col-2 {
  width: 130px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 160px;
}
.col-suffix-2 {
  padding-right: 160px;
}
.col-3 {
  width: 210px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 240px;
}
.col-suffix-3 {
  padding-right: 240px;
}
.col-4 {
  width: 290px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 320px;
}
.col-suffix-4 {
  padding-right: 320px;
}
.col-5 {
  width: 370px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 400px;
}
.col-suffix-5 {
  padding-right: 400px;
}
.col-6 {
  width: 450px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 480px;
}
.col-suffix-6 {
  padding-right: 480px;
}
.col-7 {
  width: 530px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 560px;
}
.col-suffix-7 {
  padding-right: 560px;
}
.col-8 {
  width: 610px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 640px;
}
.col-suffix-8 {
  padding-right: 640px;
}
.col-9 {
  width: 690px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 720px;
}
.col-suffix-9 {
  padding-right: 720px;
}
.col-10 {
  width: 770px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 800px;
}
.col-suffix-10 {
  padding-right: 800px;
}
.col-11 {
  width: 850px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 880px;
}
.col-suffix-11 {
  padding-right: 880px;
}
.col-12 {
  width: 930px;
  display: inline;
  float: left;
  margin: 0 15px;
  margin-left: 15px;
  padding-left: 960px;
}
.col-suffix-12 {
  padding-right: 960px;
}
.page {
  color: #fff;
  background: url("/img/background-body.jpg");
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.page__wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
.page__wrapper_color_blue {
  background: #0069b3;
  color: $color-normal;
}
.page__wrapper_color_white {
  background: #fff;
}
.page__wrapper_margin_none {
  margin: 0;
}
.page__wrapper_margin_top {
  margin-bottom: 0;
}
.page__wrapper__row {
  max-width: 960px;
  margin: 0 auto;
  zoom: 1;
}
.page__wrapper__row:before,
.page__wrapper__row:after {
  content: "";
  display: table;
}
.page__wrapper__row:after {
  clear: both;
}
.title {
  color: #fff;
}
.title_size_l {
  font-size: 24px;
  font-weight: 100;
  margin: 24px 0;
}
.title_size_m {
  font-size: 21px;
  font-weight: 300;
  margin: 10px 0;
}
.title_size_s {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
}
.title_color_blue {
  color: #0069b3;
}
.title_color_black {
  color: #000;
}
.title_col_12 {
  width: 930px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .title_col_12 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.paragraph {
  font-size: 13px;
  line-height: 20px;
}
.date {
  color: #b0b1b3;
  font-size: 12px;
}
.header {
  padding: 10px 0 20px 0;
}
.footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 930px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  height: 100px;
  position: relative;
}
@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.footer__copyright {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 50%;
  margin: auto;
}
.footer__menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  margin: auto;
}
.search {
  background: url("/img/icon-search.png") no-repeat right;
  border: none;
  border-bottom: 1px solid #0069b3;
  color: #0069b3;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  font-size: 13px;
  font-weight: lighter;
  padding: 12px 0;
  margin-top: 10px;
}
.search_col_6 {
  width: 450px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .search_col_6 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.account {
  font-size: 13px;
  text-align: right;
  color: #0069b3;
  margin-top: 10px;
}
.account_col_3 {
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .account_col_3 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.logo {
  height: 52px;
  background: url("/img/logo.png") no-repeat left top;
}
.logo_col_3 {
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .logo_col_3 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.video-item {
  background-color: #fff;
  margin-bottom: 20px;
}
.video-item__preview {
  background: #000;
}
.video-item__text {
  padding: 0 20px;
}
.video-item_horizontal {
  width: 450px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .video-item_horizontal {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.video-item_horizontal .video-item__preview {
  height: 91px;
  width: 160px;
  float: left;
}
.video-item_horizontal .video-item__text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 290px;
}
.video-item_col_3 {
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  height: 210px;
}
@media screen and (max-width: 480px) {
  .video-item_col_3 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.video-item_col_3 .video-item__preview {
  height: 118px;
}
.video-item_col_4 {
  width: 290px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  height: 253px;
}
@media screen and (max-width: 480px) {
  .video-item_col_4 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.video-item_col_4 .video-item__preview {
  height: 163px;
}
.menu {
  width: 930px;
  background-color: #0069b3;
}
.menu__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  list-style: none;
  position: relative;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  background-color: #0069b3;
  margin-left: 60px;
  padding: 18px 10px;
}
.menu__item:first-of-type {
  margin: 0;
}
.menu__item:hover {
  background: rgba(255,255,255,0.2);
}
.menu__item_cloud {
  position: relative;
}
.menu__item_cloud:before {
  display: inline-block;
  width: 24px;
  height: 15px;
  content: '';
  background: url("/img/icon-cloud.png") no-repeat center;
  margin-bottom: -5px;
  margin-right: 21px;
}
.slider {
  height: 340px;
  background: url("/img/photo1.jpg") no-repeat;
  color: #fff;
}
.slider__content {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 18px;
}
.slider_col_9 {
  width: 690px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .slider_col_9 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.slider_col_9 .slider__content {
  width: 290px;
  margin-left: 0;
  margin-right: 0;
  float: left;
}
@media screen and (max-width: 480px) {
  .slider_col_9 .slider__content {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
.banner {
  height: 340px;
  background: #0069b3;
}
.banner__content {
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("/img/people.png");
  padding: 10px 18px;
}
.banner_col_3 {
  width: 210px;
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
@media screen and (max-width: 480px) {
  .banner_col_3 {
    width: 100%;
    margin-left: 1.5625%;
    margin-right: 1.5625%;
  }
}
.link {
  color: #0069b3;
}
.link_color_white {
  color: #fff;
}
.cwl {
  font-size: 14px;
  position: absolute;
  bottom: 0;
  margin: 40px 0px;
  zoom: 1;
}
.cwl:before,
.cwl:after {
  content: "";
  display: table;
}
.cwl:after {
  clear: both;
}
.cwl__item {
  display: inline-block;
  float: left;
}
.cwl__item:before {
  font-family: 'icons-mipt-video';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 15px;
  margin-right: 5px;
}
.cwl__item_comments:before {
  content: '\e800';
}
.cwl__item_watches:before {
  content: '\e801';
}
.cwl__item_likes:before {
  content: '\e802';
}
