.account
	font-size: 13px
	text-align: right
	color: $color-blue

	margin-top: 10px

	&_col_3

		+below(715px)
			col(1)
			margin-top: 30px

			text-align: center

	&__name
		display: inline-block
		margin-right: .2em

	&__surname
		display: inline-block

