@import './tools/variables.styl'
@import './tools/mixins.styl'

body
	background-color: $color-background

	font-family: $font-main


@import './tools/grid.styl'

@import './blocks/menu.styl'
@import './blocks/header.styl'
