@import nib
@import 'tools/variables.styl'
@import 'tools/mixins.styl'

body
	background: url(/img/background-body.jpg)
	color: $color-main

	font-family: $font-main


@import 'tools/grid.styl'

@import 'blocks/menu.styl'
@import 'blocks/header.styl'
@import 'blocks/slider.styl'
@import 'blocks/banner.styl'
@import 'blocks/popular-video.styl'
@import 'blocks/last-video.styl'
