@import nib
@import 'tools/variables.styl'
@import 'tools/mixins.styl'

body
	background-color: $color-background

	font-family: $font-main
	font-weight: normal


@import 'tools/grid.styl'

@import 'blocks/menu.styl'
@import 'blocks/header.styl'
@import 'blocks/slider.styl'
