@import nib

.slider__item
	height: 100%
	width: 100%
	absolute: top

	background-color: white
	background-repeat: no-repeat
	background-size: cover
	color: $color-main
	opacity: 0

	transition: 0.6s ease-in-out all

	&_active
		opacity: 1
