@font-face {
  font-family: 'icons-mipt-video';
  src: url(/font/icons-mipt/icons-mipt-video.eot?1424345);
  src: url('/font/icons-mipt/icons-mipt-video.eot?1424345#iefix') format('embedded-opentype'),
       url('/font/icons-mipt/icons-mipt-video.woff?1424345') format('woff'),
       url('/font/icons-mipt/icons-mipt-video.ttf?1424345') format('truetype'),
       url('/font/icons-mipt/icons-mipt-video.svg?1424345#icons-mipt-video') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons-mipt-video';
    src: url('/font/icons-mipt/icons-mipt-video.svg?1424345#icons-mipt-video') format('svg');
  }
}
