@import nib

.slider
	height: 340px
	overflow: hidden
	position: relative

	&__cwl
		+below(535px)
			display:none

	&_col_9
		col(9/12)

		+below(800px)
			col(2/3)

		+below(600px)
			col(1)

			background-position: center
			margin-bottom: 20px

		.slider__content
			span(29/69)

			+between(600px, 800px)
				span(2/3)

			+below(480px)
				display:none



