@import nib

.slider__controls
	display: inline-block
	absolute: bottom left 50%

.slider__control
	display: inline-block
	size: 20px

	border-radius: 50%
	border: 1px solid white

	margin: 5px

	&_active
		background: white

