@import nib

.row
	width 960px
	margin: 0 auto

	clearfix()

$grid-col-width = 50px
$grid-amound-of-cols = 12
$grid-col-margin = 15px

for x in 1..$grid-amound-of-cols
	.col-{x}
		width: $grid-col-width * x + 2 * $grid-col-margin * (x - 1)
		display: inline
		float: left
		margin: 0 $grid-col-margin
	.col-prefix-{x}
		padding-left: ($grid-col-width + $grid-col-margin * 2) * x
	.col-suffix-{x}
		padding-right: ($grid-col-width + $grid-col-margin * 2) * x
