/*
 * Size in grid
 */
grid-row()
	max-width 960px
	margin: 0 auto

	clearfix()

grid-col(n, is-procent=false, float=left, margin=$grid-col-margin)
	if n <= 12
		margin-procent = (margin / 960 * 100) %
		if is-procent
			width: $grid-sizes-procent[n]
			margin-left: margin-procent
			margin-right: margin-procent
		else
			width: grid-sizes[n]
			margin-left: margin
			margin-right: margin


		float: float

	else
		background: red

	@media screen and (max-width: 480px)
		width: 100%
		margin-left: margin-procent
		margin-right: margin-procent

make-icon()

	font-family: $font-icon;
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
