/*
 * Size in grid
 */
grid-row()
	width 960px
	margin: 0 auto

	clearfix()

grid-col(n, float=left, margin=$grid-col-margin)
	if n < 12
		width: $grid-sizes[n]
		float: float
		margin-left: margin
		margin-right: margin

	else if n == 12
		width: $grid-sizes[n]

	else
		background: red
