// Jeet
// -------------------

jeet = {
  gutter: 3,
  parent-first: false,
  layout-direction: LTR,
  max-width: 930px
}


// Rupture
// -------------------

rupture.scale = 0 400px 600px 800px
rupture.scale-names = 'xs' 's' 'm'
