/*
 * Colors
 */

$color-blue = #0069b3
$color-date = #b0b1b3
$color-main = white
$color-header = black

$color-background = white

/*
 * Fonts
 */

$font-main = "Helvetica Neue", Helvetica, Arial, sans-serif

/*
 * Grid
 */

_grid-col-width = 50px
_grid-amound-of-cols = 12
_grid-col-margin = 15px

$grid-sizes = {}

for x in 1.._grid-amound-of-cols
	$grid-sizes[x] = (_grid-col-width * x + 2 * _grid-col-margin * (x - 1))
