/*
 * Colors
 */

$color-blue = #0069b3
$color-date = #b0b1b3
$color-main = white
$color-header = black

$color-background = white

/*
 * Fonts
 */

$font-main = "Helvetica Neue", Helvetica, Arial, sans-serif


/*
 * Grid
 */

$grid-col-width = 50px
$grid-amound-of-cols = 12
$grid-col-margin = 15px
$grid-width = 960px

$grid-sizes = {}
$grid-sizes-procent = {}

for x in 1..$grid-amound-of-cols
	$grid-sizes[x] = ($grid-col-width * x + 2 * $grid-col-margin * (x - 1))
	$grid-sizes-procent[x] = ($grid-sizes[x] / $grid-width) * 100%

/*
 * Wrapper size
 */

