.header {
  background-color: #fff;
  padding: 10px 0 20px 0;
}
.header__logo {
  width: 160px;
  height: 52px;
  background: url("/img/logo.png") no-repeat left top;
}
.header__search {
  width: 100%;
  background: url("/img/icon-search.png") no-repeat right;
  border: none;
  border-bottom: 1px solid #0069b3;
  color: #0069b3;
  opacity: 0.5;
  padding: 12px 0;
}
