@import 'jeet'
.search
	background: url(/img/icon-search.png) no-repeat right
	border: none
	border-bottom: 1px solid $color-blue
	color: $color-blue
	opacity: 0.5

	font-size: 13px
	font-weight: lighter

	padding: 12px 0
	margin-top: 10px

	&:focus
		opacity: 1

	&_col_6
		col(6/12)
		margin-left: cw(3/12)
		margin-left: calc(3%+162px)

		+below(715px)
			width:calc(95% - 162px)

			margin-left: cw(3/12)
			margin-left: calc(3%+162px)

		+below(600px)
			col(1)
