.account
	float: right
	font-size: 13px
	text-align: right
	color: $color-blue
	position: relative


	margin-top: 10px

	&_col_3
		col(3/12)

	&__name
		display: inline-block

	&__surname
		display: inline-block

	&:after

		make-icon()

		content: '\e806'
