.banner
	height: 340px

	background: $color-blue

	&__content
		height: 100%
		box-sizing: border-box

		background: url(/img/people.png)

		padding: 10px 18px

	&_col_3
		col(3/12)

		+below(600px)
			col(1)
			height: auto



