.banner
	grid-col: 3

	height: 340px

	background: url(/img/people.jpg) no-repeat center
	//opacity: 0.18

	&__content
		height: 100%
		box-sizing: border-box

		background: $color-blue
		padding: 10px 18px

		&__header

			font-size: 24px

			padding:23px 2px

		&__p

			font-size: 13px
			line-height: 20px


