.banner
	height: 340px

	background: url(/img/people.jpg) no-repeat center

	&__content
		height: 100%
		box-sizing: border-box

		background: $color-blue
		padding: 10px 18px

	&_col_3
		grid-col: 3


