.cwl
	font-size: 14px
	absolute: bottom

	margin: 40px 0px

	clearfix()
	&__item
		display:inline-block
		float: left


		&:before
			display: inline-block
			width: 16px
			height: 14px
			content: ' '

			background: rgba(white, 0.5)

			margin-left: 15px
			margin-right: 5px



