.footer
	box-sizing: border-box
	grid-col: 12
	height: 100px
	position: relative

	&__copyright
		absolute: top left bottom
		height: 50%

		margin: auto

	&__menu
		absolute: bottom right
		height: 50%

		margin: auto
