.footer
	col(1)

	box-sizing: border-box
	position: relative
	height: 100px


	&__copyright
		align(v)
		width: cw(2/3)
		absolute: left

		+below(600px)
			center(600px)
			position: static
			height: auto

	&__menu
		align(v)
		absolute:  right
		//height: 50%

		//margin: auto

		+below(600px)
			center(600px)
			position: static
			height: auto
