.header
	background-color: white
	width 960px
	margin: 0 auto

	padding: 10px 0 20px 0

	clearfix()

	&__logo
		width: 160px
		height: 52px
		background: url(/img/logo.png) no-repeat left top


	&__search
		width: 100%

		background: url(/img/icon-search.png) no-repeat right
		border: none
		border-bottom: 1px solid $color-blue
		color: $color-blue
		opacity: 0.5

		font-size: 13px
		font-weight: lighter

		padding: 12px 0
		margin: 10px 0 0 0



