.header
	grid-row()
	background-color: white

	padding: 10px 0 20px 0


	&__logo
		grid-col: 3

		height: 52px

		background: url(/img/logo.png) no-repeat left top


	&__search
		grid-col: 6

		background: url(/img/icon-search.png) no-repeat right
		border: none
		border-bottom: 1px solid $color-blue
		color: $color-blue
		opacity: 0.5

		font-size: 13px
		font-weight: lighter

		padding: 12px 0
		margin: 10px 0 0 0



