
@import '../tools/mixins.styl'
@import '../tools/variables.styl'

.header
	background-color: white

	padding: 10px 0 20px 0

	&__logo
		width: 160px
		height: 52px
		background: url(/img/logo.png) no-repeat left top


	&__search
		width: 100%

		background: url(/img/icon-search.png) no-repeat right
		border: none
		border-bottom: 1px solid $color-blue
		color: $color-blue
		opacity: 0.5

		padding: 12px 0



