.menu
	center()
	background-color: $color-blue

	&__item
		box-sizing: border-box
		display: inline-block
		list-style: none
		position: relative
		float: left

		text-transform: uppercase
		font-size: 13px
		font-weight: normal

		cursor: pointer
		background-color: $color-blue

		margin-left: 60px
		padding: 18px 10px

		+below(960px)
			margin-left: 40px

		&:first-of-type
			margin: 0

		&:hover
			background: rgba(white, 0.2)

		&_cloud
			position: relative

			&:before
				make-icon()
				color: #003961
				content: '\e805'

				font-size: 13px

				margin-right:20px

				+below(840px)
					display:none



//&:before
	//display: inline-block
	//width: 24px
	//height: 15px
	//content: ''

	//background: url(/img/icon-cloud.png) no-repeat center

	//margin-bottom: -5px
	//margin-right: 21px



