.menu
	center()
	background-color: $color-blue

	&__item
		box-sizing: border-box
		display: inline-block
		list-style: none
		position: relative
		float: left

		text-transform: uppercase
		font-size: 1rem
		font-weight: normal

		cursor: pointer
		background-color: $color-blue

		margin: 0 to-procent(30, 930)
		padding: 18px to-procent(10,930)

		+below(839px)
			font-size:0.9rem
			margin: 0 to-procent(20, 930)
		+below(706px)
			font-size:0.8rem

		+below(600px)
			display:block
			float: none

			text-align: center
			font-size: 1rem

			margin: 10px



		&:first-of-type
			+above(600px)
				margin-left: 0

		&:last-of-type
			+above(600px)
				margin-right: 0

		&:hover
			background: rgba(white, 0.2)

		&_cloud
			position: relative

			&:before
				make-icon()
				color: #003961
				content: '\e805'

				margin-right:20px

				+below(930px)
					display:none
	&__link
		text-decoration: none



//&:before

	//display: inline-block
	//width: 24px
	//height: 15px
	//content: ''

	//background: url(/img/icon-cloud.png) no-repeat center

	//margin-bottom: -5px
	//margin-right: 21px



