.menu
	background-color: $color-blue
	color: $color-main

	&__list
		grid-row()

		width: 930px

		//grid-col: 12 none 0

		&__item
			box-sizing: border-box
			display: inline-block
			list-style: none
			position: relative
			float: left

			text-transform: uppercase
			font-size: 13px
			font-weight: bold

			cursor: pointer

			margin-left: 80px
			padding: 18px 0

			&:first-of-type
				margin: 0

			&--cloud
				position: relative
				margin-left: 116px

				&:before
					display: inline-block
					width: 24px
					height: 15px
					content: ''
					absolute: left -36px

					background: url(/img/icon-cloud.png) no-repeat center



