.page
	color: $color-main
	background: url(/img/background-body.jpg)

	font-family: $font-main
	font-size: 13px

	&__wrapper
		margin-top: 10px
		margin-bottom: 10px

		&_color_blue
			background: $color-blue

			color: $color-normal

		&_color_white
			background: white

		&_margin_none
			margin: 0

		&_margin_top
			margin-bottom: 0

		&__row
			grid-row()
