.page
	color: $color-main
	background: url(/img/background-body.jpg)

	font-family: $font-main

	&__wrapper

		&_color_blue
			background: $color-blue

			color: $color-normal

		&_color_white
			background: white

	&__row
		grid-row()

		margin-top: 10px
		margin-bottom: 10px
