.search
	background: url(/img/icon-search.png) no-repeat right
	border: none
	border-bottom: 1px solid $color-blue
	color: $color-blue
	opacity: 0.5

	font-size: 13px
	font-weight: lighter

	padding: 12px 0
	margin-top: 10px

	&_col_6
		grid-col: 6
