.title
	color: white

	&_size_l
		font-size: 24px
		font-weight: 100

		margin: 24px 0
	&_size_m
		font-size: 21px
		font-weight: 300

		margin: 10px 0

	&_size_s
		font-size: 14px
		font-weight:bold

		margin: 10px 0

	&_color_blue
		color: $color-blue

	&_color_black
		color: black

	&_col_12
		grid-col: 12


