.video-item
	background-color: white

	margin-bottom: 20px

	&__preview
		background: black

	&__text
		padding: 0 20px

	&_col_3
		grid-col: 3

		height:210px

		.video-item__preview
			height: 118px

	&_col_4
		grid-col: 4

		height:253px

		.video-item__preview
			height: 163px
