.video-item
	background-color: white

	margin-bottom: 20px

	&__preview
		background: black

	&__text
		padding: 0 20px

	&_horizontal
		col(1/2, cycle:2)

		.video-item__preview
			height: 91px
			width: 160px//$grid-sizes[2] + 2 * $grid-col-margin
			float: left

		.video-item__text
			box-sizing: border-box
			float: left
			width: 290px


	&_col_3
		col(3/12, cycle: 4)
		//grid-col: 3

		height:210px

		.video-item__preview
			height: 118px

	&_col_4
		col(4/12, cycle: 3)

		height:253px

		.video-item__preview
			height: 163px

